* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: #473dff;
  /* --purplish-blue: #473dffbf; */
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);
}

input {
  cursor: pointer;
}

body {
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
  background-color: var(--magnolia);
  display: flex;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  justify-content: center;
}

.container {
  width: 60vw;
  height: 77vh;
  background-color: #fff;
  box-shadow: 0.3rem 0.3rem 0.9rem rgba(0, 0, 0, 0.069),
    -0.3rem -0.3rem 0.9rem rgba(0, 0, 0, 0.069);
  border-radius: 1rem;
  display: flex;
  gap: 7.5rem;
  padding: 1.2rem 1.2rem;
}

.sidebar {
  /* height: 96%; */
  width: 31%;
  background: url("./assets/images/bg-sidebar-desktop.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.sb-info {
  margin-left: 3rem;
  display: flex;
  width: fit-content;
  height: 8.5vh;
  justify-content: start;
  align-items: center;
  gap: 1.5rem;
}

.serial {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  border: 1px solid white;

  color: white;
  font-weight: 700;
}

.serial1 {
  background-color: var(--pastel-blue);
  color: var(--marine-blue);
  border: none;
}

.step {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.step-num {
  color: var(--pastel-blue);
  font-weight: 400;
}

.step-info {
  font-weight: 700;
  letter-spacing: 1px;
  color: white;
}

.forms {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 3.5rem;
}

.vn {
  visibility: hidden;
}

.personal-info .title {
  font-size: 2.7rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--marine-blue);
}

.title-des {
  font-size: 1.28rem;
  font-weight: 400;
  margin-top: 1.2rem;
  color: var(--cool-gray);
}

/* form 1 stats here */

.form {
  display: flex;
  flex-direction: column;
  margin-top: 3.5rem;
}

.fm-plan,
.fm-addon,
.fm-checkout {
  display: none;
}

.lb-warn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form label {
  font-size: 1.2rem;
  font-weight: 500;
  /* color: blue; */
  color: #022a5abe;
}

.e-warn,
.n-warn,
.p-warn {
  display: none;
  color: red;
}

.form input::placeholder {
  color: var(--cool-gray);
}

.form input {
  /* color: red; */
  margin-top: 0.7rem;
  margin-bottom: 2rem;
  height: 3.6rem;
  border-radius: 0.5rem;
  padding-left: 1.5rem;
  font-size: 1.3rem;
  font-weight: 700;
  border: 2px solid var(--light-gray);
}

/* form 2 starts here */

.plans {
  display: flex;
  gap: 1.5rem;
}

.options {
  width: 100%;
  height: fit-content;
  padding-left: 1.2rem;
  padding-top: 1.3rem;
  border: 2px solid var(--light-gray);
  border-radius: 0.9rem;
  outline: none;
  padding-bottom: 1rem;
  cursor: pointer;
  /* border-color: var(--purplish-blue);
  background-color: var(--alabaster); */
}

.options:hover {
  border: 2px solid var(--purplish-blue);
}

.options img {
  width: 3rem;
}

.opt-title {
  margin-top: 3rem;
  color: var(--marine-blue);
  margin-bottom: 0.6rem;
}

.opt-price {
  color: var(--cool-gray);
  margin-bottom: 0.6rem;
}

.opt-free {
  display: none;
  color: var(--purplish-blue);
  margin-bottom: 0.6rem;
}

.toggler {
  display: flex;
  gap: 1.5rem;
  margin-top: 3.5rem;
  align-items: center;
  height: 4rem;
  border-radius: 1rem;
  background-color: var(--alabaster);
  justify-content: center;
  margin-bottom: 3rem;
}

/* ////////form 3 starts here */

.pick-addon {
  display: flex;
  align-items: center;
  /* width: 100%; */
  /* justify-content: space-between; */
  border: 2px solid var(--light-gray);
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  height: 6rem;
  padding: 0 1.5rem;
  cursor: pointer;
}

.pick-addon:hover {
  border: 2px solid var(--purplish-blue);
}

.pick-addon input {
  margin: 0;
  padding: 0;
  width: 1.2rem;
  height: 1.2rem;
  /* background-color: blue; */
  accent-color: blue;
}

.addOns {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.addOns-title {
  color: var(--marine-blue);
  font-weight: 700;
}

.addOns-des {
  color: var(--cool-gray);
  font-weight: 400;
}

.addOns-price {
  margin-left: auto;
  font-size: 1.2rem;
  color: var(--purplish-blue);
  font-weight: 400;
}

/* form 4 starts */

.frm-container {
  background-color: var(--alabaster);
  padding: 2rem;
  gap: 2rem;
  display: flex;
  border-radius: 1rem;
  flex-direction: column;
}

.plan-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selected {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.selected-title {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--marine-blue);
}

.selected p:nth-child(2) {
  font-size: 1.15rem;
  text-decoration: underline;
  color: var(--cool-gray);
  cursor: pointer;
}

.selected p:nth-child(2):hover {
  color: rgba(0, 0, 128, 0.765);
}

.selected-price {
  color: var(--marine-blue);
  font-weight: 700;
  font-size: 1.3rem;
}

hr {
  border: 0.5px solid var(--light-gray);
}

.service-select {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.service-select div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.15rem;
  font-weight: 450;
  color: var(--cool-gray);
}

.service-select div p:nth-child(2) {
  color: var(--marine-blue);
  font-weight: 500;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  font-size: 1.15rem;
  color: var(--cool-gray);
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.total p:nth-child(2) {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--purplish-blue);
}

/* footer starts */

.submit {
  margin-top: auto;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.goBack {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--cool-gray);
  cursor: pointer;
}

.goBack:hover {
  color: var(--marine-blue);
}

.nextStep {
  cursor: pointer;
  width: 10rem;
  height: 4rem;
  font-size: 1.3rem;
  color: white;
  font-weight: 500;
  border-radius: 0.7rem;
  border: none;
  background-color: var(--marine-blue);
}

/* toggler button */

/* The switch - the box around the slider */
.toggle {
  width: 53px;
  height: 29px;
  position: relative;
}

/* Hide default HTML checkbox */
.checkbox {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.switch {
  width: 100%;
  height: 100%;
  display: block;
  background-color: var(--marine-blue);
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.thankYou {
  display: flex;
  flex-direction: column;
  width: 50%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0 3rem;
}

.thanks {
  margin-top: 0.5rem;
  font-weight: 700;
  font-size: 2.5rem;
}

.thank-des {
  font-size: 1.1rem;
  line-height: 1.6rem;
  color: var(--cool-gray);
  text-align: center;
}

/* The slider */
.slider {
  width: 20px;
  height: 20px;
  position: absolute;
  left: calc(50% - 20px / 2 - 10px);
  top: calc(50% - 20px / 2);
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.checkbox:checked + .switch {
  background-color: var(--marine-blue);
}

.checkbox:checked + .switch .slider {
  left: calc(50% - 20px / 2 + 10px);
  top: calc(50% - 20px / 2);
}

.dn {
  display: none;
}

@media (max-width: 1600px) {
  .container {
    width: 81vw;
  }
}

/* media query for phone starts here */

@media (max-width: 376px) {
  * {
    margin: 0;
    padding: 0;
  }
  html {
    font-size: 0.6rem;
  }
  body {
    font-size: 0.6rem;
    align-items: flex-start;
    justify-content: start;
  }
  .container {
    flex-direction: column;
    background-color: transparent;
    align-items: center;
    box-shadow: none;
    width: 100vw;
    height: 100vh;

    padding: 0;
  }
  .sidebar {
    position: absolute;
    background: url(./assets/images/bg-sidebar-mobile.svg);
    background-repeat: no-repeat;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: -2;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 2rem;
  }
  .sb-info {
    margin: 0;
    padding: 0;
  }
  .sb-info .step {
    display: none;
    height: fit-content;
  }
  .serial {
    font-size: 1.2rem;
  }
  .forms {
    width: 90%;
    height: 100%;
  }
  .phoneContainer {
    padding: 1.5rem 2.5rem;
    border-radius: 1rem;
    margin-top: 6.8rem;
    background-color: white;
    box-shadow: 0.3rem 0.3rem 0.9rem rgba(0, 0, 0, 0.069),
      -0.3rem -0.3rem 0.9rem rgba(0, 0, 0, 0.069);
  }

  .thankYou {
    padding: 1.5rem 2.2rem;
    border-radius: 1rem;
    margin-top: 10.4rem;
    background-color: white;
    width: 92%;

    box-shadow: 0.3rem 0.3rem 0.9rem rgba(0, 0, 0, 0.069),
      -0.3rem -0.3rem 0.9rem rgba(0, 0, 0, 0.069);
  }
  .thankYou img {
    margin-top: 4rem;
  }
  .title {
    margin-top: 0.8rem;
  }
  .title-des {
    font-size: 1.7rem;
    width: 92%;
  }

  .e-warn,
  .n-warn,
  .p-warn {
    font-size: 0.85rem;
  }

  .form {
    margin-top: 2.5rem;
  }
  .plans {
    flex-direction: column;
  }
  .options {
    width: unset;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .options div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 1.5rem;
    gap: 0.5rem;
  }
  .opt-title,
  .opt-price,
  .opt-free {
    margin: 0;
    padding: 0;
  }

  .opt-title {
    font-size: 1.3rem;
  }
  .opt-price,
  .opt-free {
    font-size: 1.1rem;
  }

  .toggler {
    margin-top: 2.5rem;
  }
  .toggler p {
    font-size: 0.9rem;
  }
  .toggle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .switch {
    width: 73%;
    height: 73%;
    /* margin-top: 0.8rem; */
  }
  .slider {
    width: 13px;
    height: 13px;
    position: absolute;
    left: calc(50% - 2px / 2 - 14px);
    top: calc(50% - 15px / 2);
  }
  .checkbox:checked + .switch .slider {
    left: calc(50% - 20px / 2 + 10px);
    top: calc(50% - 15px / 2);
  }

  .pick-addon input {
    width: 2.2rem;
    height: 1.5rem;
  }

  .addOns-title {
    font-size: 1.3rem;
  }

  .addOns-des {
    font-size: 1.02rem;
  }

  .addOns-price {
    font-size: 1.35rem;
  }

  .submit {
    position: absolute;
    bottom: 0;
    /* width: 100%; */
    left: 0;
    right: 0;
    background-color: white;
    justify-content: space-between;
    padding: 12px 9rem 9px 1rem;
  }
  .nextStep {
    margin-right: 2rem;
  }
  .goBack {
    font-size: 1.45rem;
  }
  .thanks {
    margin-top: 2rem;
  }
  .thank-des {
    font-size: 1.75rem;
    text-align: center;
    margin-bottom: 4rem;
    line-height: 2.7rem;
  }
}
